.img-food{
   height: 100%;
}

.food-slide{
    height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ingredient-desc{
    display:none;
}

.caro-btn{
    transform: scale(2);
    margin: 10px;
}

@media (max-width: 600px){
    .img-food{
        height:85%
    }
    .carousel-caption{
        display:none;
    }
    .ingredient-desc{
        display:block;
    }

    .caro-btn{
        transform: scale(3);
        margin: 15px;
    }
    
    .ingredients-content{
        display:flex;
        flex-direction: column;
    }
}
